body{
    background-color: lightgray;
}

header{
    background-color: navy;
    color: white;
    text-align: center;
    padding: 30px;
}

p{
    font-size: 14pt;
}

.search{
    float: left;
    margin: 30px;
    padding: 20px;
    background-color: lightgray;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    height: 100%;
    width: 350px;
}

.list-group button{
    height: 50px;
}

.today{
    margin: 30px;
    margin-left: 400px;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    background-color: white;
    height: 432px;
    text-align: center;
}

.forecast{
    float: left;
    margin: 30px;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    background-color: white;
}

.fiveDay{
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    background-color: lightskyblue;
    padding: 10px;
    margin: 10px;
}